In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymc3 as pm
import chardet
import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier

import seaborn as sns
color=sns.color_palette()

In [3]:
df = pd.read_csv('../data/denver_listing_dates_with_ct.csv')

In [6]:
df[df['current_status'] == 'Sale']

,property_id,zipcode,latitude,longitude,list_date,sale_date,withdrawn_date,expired_date,cancelled_date,current_status,sale_price,geometry,index_right,ct_key
3,137981678,80241,39.914650,-104.930760,2016-03-01,2016-04-21,NaN,NaN,NaN,Sale,320000.0,POINT (-104.93076 39.91465),9719.0,8.001009e+09
4,410875086,80202,39.747830,-104.986400,2016-03-01,2016-05-02,NaN,NaN,NaN,Sale,475000.0,POINT (-104.9864 39.74783),10465.0,8.031002e+09
6,494161530,80118,39.249870,-104.914720,2016-03-01,2017-04-27,NaN,NaN,NaN,Sale,787500.0,POINT (-104.91472 39.24987),10123.0,8.035014e+09
7,139817027,80112,39.569110,-104.800820,2016-03-01,2016-04-08,NaN,NaN,NaN,Sale,295000.0,POINT (-104.80082 39.56911),10769.0,8.005007e+09
8,137754392,80304,40.061880,-105.288270,2016-03-01,2016-05-04,NaN,NaN,NaN,Sale,1200000.0,POINT (-105.28827 40.06188),10256.0,8.013012e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439205,138521393,80004,39.821550,-105.085170,2020-10-30,2020-11-12,NaN,NaN,NaN,Sale,660000.0,POINT (-105.08517 39.82155),9991.0,8.059010e+09
439212,138430499,80021,39.880420,-105.127070,2020-10-30,2020-11-09,NaN,NaN,NaN,Sale,316000.0,POINT (-105.12707 39.88042),9868.0,8.059010e+09
439342,139663451,80013,39.656110,-104.800020,2020-10-30,2020-11-06,NaN,NaN,NaN,Sale,260000.0,POINT (-104.80002 39.65611),10535.0,8.005082e+09
439379,666545004,80260,39.862829,-105.014487,2020-10-31,2020-10-31,NaN,NaN,NaN,Sale,245000.0,POINT (-105.014487 39.862829),9805.0,8.001009e+09
439406,465144897,80216,39.785070,-104.951120,2020-10-31,2020-11-10,NaN,NaN,NaN,Sale,250000.0,POINT (-104.95112 39.78507000000001),10458.0,8.031004e+09